/* ==================================================================
Footer start
===================================================================== */
.footer {
  background-color: var(--secondary);
  color: white;
  position: relative;
}

.footer .container {
  padding-block: 60px 20px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer img {
  width: 200px;
  height: 90px;
  object-fit: none;
}

.footer .title {
  font-size: var(--font-size-title);
  font-weight: 600;
  text-transform: uppercase;
}

.footer .text {
  font-size: var(--font-size-p);
  color: var(--light-dark);
  padding-top: 25px;
  max-width: 24rem;
}

.footer .rights {
  color: var(--white);
  font-weight: 700;
  padding: 126px 0 0;
}

.footer .rights span {
  color: var(--light-dark);
}

.footer .header {
  font-size: 18px;
  font-weight: 800;
}

.footer li {
  padding: 13px 0;
  list-style: none;
}

.footer li a {
  color: var(--light-dark);
}

/* Responsive */
@media (max-width: 768px) {
    .footer .container {
        flex-wrap: wrap;
    }

    .footer .container ul {
        width: 100%;
    }
}
