.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 90px;
}

.gallery_text {
  padding-block: 90px;
}

.gallery_imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.gallery_imgs a {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
}

.gallery_imgs img {
  width: 100%;
  border-radius: var(--radius);
  height: 500px;
  object-fit: cover;
}
