:root {
  --color-primary-text: black;
  --color-secondory-text: white;
  --color-call-btn: #fed00e;
  --color-appointment-btn: #443dfc;
  --font-size-title: 18px;
  --font-size-h2: 50px;
  --font-size-h3: 26px;
  --font-size-p: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-primary-text);
  position: relative;
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

.hero-topBar {
  text-align: center;
  background-color: #443dfc;
  color: var(--color-secondory-text);
  font-weight: 700;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.hero-topBar a {
  color: var(--color-secondory-text);
  margin-left: 20px;
  font-size: large;
  font-weight: 700;
}

/* ==================================================================
header start
===================================================================== */
.header {
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 150px;
}

.navbar_logo {
  color: var(--color-primary-text);
  font-weight: 1000;
  font-size: 20px;
  display: flex;
}

.navbar_logo img {
  margin-right: 10px;
  padding: 10px 0;
  max-height: 100px;
}

.navbar_links {
  list-style: none;
}

.navbar_links li {
  float: left;
  padding-inline: 25px;
}

.navbar_links a {
  color: var(--color-primary-text);
  text-decoration: none;
}

.navbar_btn {
  background-color: #443dfc;
  padding: 12px 15px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.navbar_btn a {
  color: var(--color-secondory-text);
  font-weight: 1000;
  z-index: 1;
  display: inline-block;
}

.navbar_btn a::before {
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background-color: darkblue;
  left: -100%;
  bottom: -100%;
  position: absolute;
  transition: 0.5s;
  z-index: 0;
}

.navbar_btn a:hover::before {
  left: 0;
  bottom: 0;
}

.nav_burgerMenu {
  display: none;
}
/* ==================================================================
hero-banner-content start
===================================================================== */
.hero_banner {
  position: relative;
  background-image: url("https://picsum.photos/seed/picsum/1920/1800");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  z-index: 0;
}

.hero_content {
  padding: 60px 0px;
}

.hero_content p {
  font-size: 24px;
}

.hero_content h1 {
  font-weight: 800;
  font-size: 65px;
  padding-top: 45px;
}

.hero_btn {
  margin-top: 45px;
  padding: 25px 25px;
  border-radius: 50px;
  font-weight: 1000;
}

.hero_btn-call {
  color: black;
  background-color: #fed00e;
}

.hero_btn-appointment {
  background-color: #443dfc;
  margin-left: 20px;
}

.hero_labels-box {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 650px;
  height: 200px;
  background-color: white;
}

.hero_labels-logo {
margin-left: 40%;}

.hero_labels-logo img {
  width: 150px;
}

.hero_labels-logo img:nth-child(1) {
  margin-right: 20px;
}

/* ==================================================================
aboutUs start
===================================================================== */

.aboutUs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
}

.aboutUs .aboutUs-left,
.aboutUs .aboutUs-right {
  width: 50%;
  min-width: 300px;
}

.aboutUs .aboutUs-left p {
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
}

.aboutUs .aboutUs-left h2 {
  font-size: 42px;
}

.aboutUs .aboutUs-right {
  /*width: 50%;*/
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
}

.aboutUs-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 120px;
}

.aboutUs-services hr {
  color: rgb(211, 211, 211, 0.3);
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.aboutUs-services .box {
  /*width: 33%;*/
  display: flex;
  flex-direction: column;
}

.aboutUs-services .box p {
  transform: translateX(30%);
  font-size: 24px;
}
.aboutUs-services .box p:nth-child(1) {
  font-size: 50px;
}
.aboutUs-services .box p:nth-child(2) {
  font-weight: 700;
  padding: 15px 0;
}

.aboutUs-services .box p:nth-child(3) {
  font-size: 18px;
}

@media (max-width: 1250px) {
  .nav_burgerMenu {
    display: block;
  }
}

/* ==================================================================
aboutUs whoWeAre :
===================================================================== */

.aboutUs_whoWeAre {
  display: flex;
  padding-bottom: 100px;
  margin-bottom: 80px;
}

.aboutUs_whoWeAre-img {
  width: 55%;
  position: relative;
}

.aboutUs_whoWeAre-img-up {
  width: 600px;
  height: 500px;
  border-radius: 5px;
  background-image: url("/assets/projets/sol-fonceÌ-vitre.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutUs_whoWeAre-img-down {
  background-image: url("/assets/projets/sol-bois-salon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
  border-radius: 5px;
  position: absolute;
  bottom: -85px;
  left: 300px;
}

.aboutUs_whoWeAre-content {
  margin-left: auto;
  width: 33%;
}

.aboutUs_whoWeAre-content-title {
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
}

.aboutUs_whoWeAre-content-header {
  font-size: 50px;
  font-weight: 700;
}

.aboutUs_whoWeAre-content-texte {
  font-size: var(--font-size-p);
}

.aboutUs_whoWeAre-content-workingDays {
  font-weight: 800;
  font-size: var(--font-size-p);
}

.aboutUs_whoWeAre-content-cta {
  color: black;
  background-color: #fed00e;
  margin-top: 30px;
  padding: 25px 25px;
  border-radius: 50px;
  font-weight: 1000;
}

/* ==================================================================
aboutUs weDo :
===================================================================== */

.aboutUs_weDo {
  border: 1px red solid;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.aboutUs_weDo > div {
  border: 5px solid black;
}

.aboutUs_weDo-content-up {
  grid-column-start: span 2;
}

.aboutUs_weDo-side-img {
  grid-row-start: span 2;
}

.aboutUs_weDo-content-up .title {
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
}

.aboutUs_weDo-content-up .header {
  font-size: var(--font-size-h2);
  font-weight: 800;
}

.aboutUs_weDo-content-up .text {
  font-size: var(--font-size-p);
}

.aboutUs_weDo-side-img img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.aboutUs_weDo-content-down {
  border: 3px orange solid;
  display: flex;
  width: 100%;
}

.boutUs_weDo-content-down-img {
  height: 446px;
  overflow: hidden;
  background-color: #443dfc;
}

/* =========================== section whatWeDo ========================= */

.aboutUs_whatWeDo {
  position: relative;
}

.aboutUs_whatWeDo-content {
  margin-bottom: 286px;
}

.aboutUs_whatWeDo-content .title {
  font-size: var(--font-size-title);
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 60px;
}

.aboutUs_whatWeDo-content .header {
  font-size: var(--font-size-h2);
}

.aboutUs_whatWeDo-content .text {
  font-size: var(--font-size-p);
  padding: 0 200px;
}

.aboutUs_whatWeDo-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  overflow: hidden;
  height: 1130px;
}

.aboutUs_whatWeDo-img img {
  width: 100%;
  height: 100%;
}

.aboutUs_whatWeDo-box {
  height: 451px;
  display: flex;
  overflow: hidden;
  background-color: #443dfc;
}

.aboutUs_whatWeDo-box-img {
  width: 490px;
  height: 600px;
}

.aboutUs_whatWeDo-box-img img {
  width: 100%;
  position: relative;
  top: -110px;
}

.aboutUs_whatWeDo-box-text {
  display: flex;
  align-items: center;
  padding: 30px;
  color: white;
  background-color: #443dfc;
  width: 665px;
}

.aboutUs_whatWeDo-box-text h3 {
  font-size: 23px;
  font-weight: 800;
}

/* ==================================================================
Carousel start
===================================================================== */
.carousel {
  display: flex;
  justify-content: center;
}

.carousel .companies {
  display: flex;
  padding: 110px 0;
  gap: 50px;
}

.carousel .item1 {
  width: 200px;
  height: 70px;
}

.carousel .item1 img {
  width: 100%;
  height: 100%;
}

/* ==================================================================
Project start
===================================================================== */
.projectBox {
  background-color: #fafafb;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project .title {
  color: blue;
  font-size: var(--font-size-title);
  text-transform: uppercase;
  padding-top: 126px;
}

.project h2 {
  font-size: var(--font-size-h2);
  padding-top: 20px;
}

.project .articles {
  font-size: 22px;
  font-weight: 800;
}

.project_box {
  padding: 60px 0 50px;
  display: flex;
  gap: 25px;
}

.project_box-item {
  width: 415px;
  border-radius: 7px;
  overflow: hidden;
}

.project_box-item-img {
  height: 295px;
}

.project_box-item-img img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.project_box-item-text {
  padding: 30px;
}

.project_box-item-text-title {
  color: blue;
  font-size: var(--font-size-title);
  padding: 10px 0;
}

.project_box-item-text-header {
  font-size: var(--font-size-h3);
}

.project .articles {
  padding-bottom: 126px;
}
.project .articles a {
  color: black;
  position: relative;
  bottom: -2px;
  padding-left: 7px;
}

/* ==================================================================
Contact Us start
===================================================================== */
.contactUs {
  background-color: #443dfc;
  color: white;
  position: relative;
}

.contactUs .title {
  font-size: var(--font-size-title);
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 126px;
}

.contactUs h2 {
  font-size: var(--font-size-h2);
}

.contactUs .text {
  font-size: var(--font-size-p);
}

.contactUs .hero_btn-appointment {
  border: 1px white solid;
}

.contactUs .btn {
  padding-bottom: 126px;
}

.contactUs img {
  position: absolute;
  right: 100px;
  bottom: 0px;
  width: 50%;
}

/* ==================================================================
Footer start
===================================================================== */
.footer {
  background-color: #0e0d39;
  color: white;
  position: relative;
}

.footer .container {
  padding: 126px 0;
  display: flex;
  justify-content: space-between;
}

.footer img {
  width: 200px;
  height: 90px;
  object-fit: none;
  padding: ;
}

.footer .title {
  font-size: var(--font-size-title);
  font-weight: 600;
  text-transform: uppercase;
}

.footer .text {
  font-size: var(--font-size-p);
  color: rgba(255, 255, 255, 0.644);
  padding-top: 25px;
}

.footer .rights {
  color: white;
  font-weight: 700;
  padding: 126px 0 0;
}

.footer .rights span {
  color: rgba(255, 255, 255, 0.611);
}

.footer ul {
  float: left;
padding: 10px 85px;

  
}

.footer .header { 
  font-size: 18px;
  font-weight: 800;
}

.footer li {
  padding: 13px 0;
list-style: none;
}

.footer li a {
  color: rgba(255, 255, 255, 0.716);
}



