:root {
  --text-color: black;
  --white: #FFFFFF;
  --primary-light: #FEE948;
  --primary: #FCDF01;
  --primary-dark: #DFC501;
  --secondary-light: #656765;
  --secondary: #414241;
  --secondary-dark: #323432;
  --warning: #BA3B46;
  --info: #599B7C;
  --light: #F2F5F7;
  --light-dark: #D9E2E8;
  --responsive-desktop: 1024px;
  --responsive-tablette: 768px;
  --responsive-tablette: px;
  --radius: 5px;
  --radius-large: 15px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--primary-light);
  color: var(--text-color);
}

::-moz-selection {
  background-color: var(--primary-light);
  color: var(--text-color);
}

@font-face {
    font-family: 'gidole-regular';
    src: url('../assets/fonts/gidole-regular.woff2') format('woff2'),
         url('../assets/fonts/gidole-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verano_sans';
    src: url('../assets/fonts/veranosans-regular.woff2') format('woff2'),
         url('../assets/fonts/veranosans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verano_sansbold';
    src: url('../assets/fonts/veranosans-bold.woff2') format('woff2'),
         url('../assets/fonts/veranosans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'verano_sansitalic';
    src: url('../assets/fonts/veranosans-italic.woff2') format('woff2'),
         url('../assets/fonts/veranosans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'verano_sanslight';
    src: url('../assets/fonts/veranosans-light.woff2') format('woff2'),
         url('../assets/fonts/veranosans-light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

body {
  color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white);
}

#root {
  width: 100%;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

h1 {
    font-family: 'verano_sansbold', sans-serif;
    font-size: 4.2rem;
    line-height: 1.1;
    color: var(--secondary-dark);
}

h2 {
    font-family: 'verano_sansbold', sans-serif;
    font-size: 2.8rem;
    color: var(--secondary-dark);
}

h3 {
    font-family: 'verano_sans', sans-serif;
    font-size: 2rem;
    color: var(--secondary-dark);
}

p {
    font-family: 'gidole-regular', sans-serif;
    font-size: 1.1rem;
    text-align: justify;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
    margin-bottom: .8rem;
}

.text-decorated {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.text-decoration {
  position: absolute;
  left: 0;
  bottom: .8rem;
  width: 100%;
  height: 3rem;
  display: block;
  pointer-events: none;
  z-index: 0;
}

.text-decoration img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.text-decoration path {
  fill: var(--primary-light);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: .4rem;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

.btn {
  background-color: var(--primary);
  padding: 25px 35px;
  border-radius: 50px;
  position: relative;
  overflow: clip;
  display: inline-block;
  cursor: pointer;
}

.btn * {
  color: var(--text-color);
  font-weight: bold;
}

.btn::before {
  background-color: var(--primary-dark);
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 100%;
  left: -100%;
  bottom: -100%;
  position: absolute;
  transition: 0.5s;
  z-index: 0;
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-secondary::before {
  background-color: var(--secondary-dark);
}

.btn-secondary * {
  color: var(--white);
}

.btn:hover::before {
  left: 0;
  bottom: 0;
}

.btn-small {
  padding: 12px 25px;
}

.btn > div {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    visibility: hidden;
}

.btn a,
.btn button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.text-center {
    text-align: center !important;
}

.subtitle {
    color: var(--info);
    text-transform: uppercase;
    font-size: 1rem;
}

.black {
    color: var(--text-color) !important;
}

.white {
    color: var(--white) !important;
}

.primar-primary-dark {
    color: var(--primary-dark) !important;
}

.secondary-dark {
    color: var(--secondary-dark) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.secondary-hero {
    padding: 80px 20px 60px;
    text-align: center;
    background-color: var(--light);
}

.secondary-hero h1 {
    font-size: 3rem;
    margin-block: 4rem 1rem;
}

/* desktop small */
@media (max-width: 1024px) {

    h1 {
        font-size: 3rem;
    }
}

/* tablette */
@media (max-width: 768px) {

    .container {
        max-width: 80%;
        padding-inline: 10px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .text-decoration {
      bottom: 0rem;
    }
}

/* mobile */
@media (max-width: 425px) {

    .container {
        max-width: 100%;
        margin-inline: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
    }

    .text-decoration {
      bottom: -.5rem;
    }
}
